*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0b1523;
    color: #fff;
}

.container{
    display: flex;
    height: 140vh;
    justify-content: center;
    margin-top: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.content {
    background-color: white;
    background: transparent;
    border-radius: 15px;
    max-width: 500px; 
    width : 100%;
    padding: 40px;
    box-shadow: 0 4px 16px rgba(130, 208, 239, 0.9); 
    height: 50%;
    margin-top: 40px;

}

img{
    width: 130px;
    height: 130px;
    margin-top: 50px;
}

